# ============================================================
# TradePro — Server Environment Variables
# ============================================================
# انسخ هذا الملف إلى .env وضع مفتاحك الحقيقي هناك
# لا تضع .env أبداً على GitHub أو أي مكان عام
#
# للحصول على مفتاح Gemini API:
# اذهب إلى https://aistudio.google.com/app/apikey

GEMINI_API_KEY=AQ.Ab8RN6L8veuudr_XkiLQGrHu0_R_Lxk_LoxVnIxY5Dlh08CW_w

# اختياري — الموديل المستخدم (افتراضي: gemini-2.0-flash)
GEMINI_MODEL=gemini-2.0-flash

# اختياري — بورت السيرفر
PORT=3000
